{% extends 'base.html'%} 

{% load static %}
{% block title %}home{% endblock%} 

{%block style %}
<link rel="stylesheet" href="{% static 'css/home.css'%}" />
{% endblock%}

{% block content%}


   <h3>Vehicles in Our Garage</h3>
<hr>
    <div class="row">
    {% for i in xyz %}
      <div class="col-md-3 mb-4">
        <a href="/viewproduct/{{ i.id }}/">
         <div class="card">
           <img src="/media/{{ i.image }}" class="card-img-top" alt="{{ i.name }}" style="height: 150px; object-fit: cover;">
           <div class="card-body">
             <h5 class="card-title">{{ i.name }}</h5>
            <p>₹{{ i.price }}</p>
            <a href="/viewproduct/{{ i.id }}/" class="btn btn-primary btn-sm">Rent Now</a>
          </div>
        </a>
       </div>
      </div>
    {% endfor %}
  </div>



{% endblock%} 
