/* body {
  background-color: rgb(91, 47, 3);
}
h1{
  color: white;
}
.main{
  display: flex;
  justify-content: space-between;
 border-radius: 10px;
 flex-wrap: wrap;
 
}

.x{
  /* margin-left: 40px; */


.card-img-top{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

 h5 ,p{
  color: black;
}

